.gmap {
  // display: flex;
  // justify-content: center;
  margin: 10rem 0;
}
.gmap__container {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
  padding-bottom: 75%;

  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
